[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"

[packages]
click = "==7.1.2"
boto3 = "==1.17.61"
sh = "==1.14.1"

[requires]
python_version = "3.9"
