[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.1.0"

[packages]
click = "==8.0.4"
boto3 = "==1.21.22"
sh = "==1.14.2"

[requires]
python_version = "3.10"
