[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.1.0"

[packages]
click = "==8.0.3"
boto3 = "==1.20.52"
sh = "==1.14.2"

[requires]
python_version = "3.9"
